button:active, button:focus {
  outline: none; }

body {
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  color: #000; }

h1, h2, h3 {
  margin-top: 0; }

.header {
  padding-top: 77px;
  padding-bottom: 94px; }

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.header-img {
  max-width: 100%; }

.header-text__title {
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 700; }

.header-text__subtitle {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 400; }

.header-text__descr {
  max-width: 550px;
  margin-bottom: 47px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px; }

.header-text__price {
  margin-bottom: 51px;
  color: #313131;
  font-size: 48px;
  font-weight: 400; }

.header-text__buttons {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

.button {
  margin-bottom: 20px;
  margin-right: 37px;
  border: none;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #f05a22;
  padding: 24px 43px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer; }

.button-o {
  background-color: transparent;
  border: 2px solid #f05a22;
  color: #f05a22; }

.features {
  background-color: #f2f2f2;
  padding-top: 91px;
  padding-bottom: 101px; }

.container {
  width: 1140px;
  margin: 0 auto; }

.section-title {
  text-align: center;
  margin-bottom: 90px;
  font-size: 30px;
  font-weight: 700; }

.features__img {
  min-height: 55px; }

.features__text {
  text-align: center;
  font-size: 18px;
  font-weight: 400; }

.features__col {
  display: flex;
  flex-direction: column;
  align-items: center; }
